@import './../../theme/globals';

$buttons-z-index: 99;

:host {
  display: flex;
  align-items: center;
  transform: translateZ(0);
  z-index: $buttons-z-index;
}

::slotted(*) wx-button {
  @include margin-horizontal(2px, 2px);
  // --box-shadow: none;
  // --height: 28px;
}
