@import './mixins';

// z-index
// --------------------------------------------------
// grouped by elements that would be siblings

$z-index-view-container: 0 !default;
$z-index-toolbar: 10;
$z-index-toolbar-background: -1;
$z-index-toolbar-buttons: 99;
