@import './button.vars';

:host {
  // --padding-top: 5px;
  // --padding-bottom: 5px;
  // --padding-start: 5px;
  // --padding-end: 5px;
}

:host {
  --border-color: initial;
  --border-radius: 40px;
  --border-style: initial;
  --border-width: initial;

  --box-shadow: none;
  --overflow: hidden;

  background: rgb(0, 255, 76); //FIXME remove
  color: var(--color);

  display: inline-block;

  // FIXME the height needs to be tweaked so that round, icon only buttons
  // while having the same height as other buttons should look circular
  height: 36px;
  // height: unset;
  width: auto;

  //   font-family:$font-family-base; // FIXME fill see button.scss
  font-size: 14px;
  font-weight: 500;
  font-kerning: none;

  @include margin(4px, 2px, 4px, 2px);

  letter-spacing: 0.06em;

  pointer-events: none;

  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;

  user-select: none;
  vertical-align: top;
  vertical-align: -webkit-baseline-middle;
}

/* Button Fills
 * -------------------------------------------------
 */

:host(.button-clear) {
}

:host(.button-solid) {
  --background: #{wx-color(primary, base)};
  --color: #{wx-color(primary, contrast)};
}

:host(.button-outline) {
  --background: transparent;
  --border-color: red;
  --border-style: solid;
  --border-width: 2px;
}

/* Button Expansion
 * -------------------------------------------------
 */

:host(.button-block) {
}

:host(.button-block) .button-native {
}

:host(.button-block) .button-native::after {
}

:host(.button-full) {
}

:host(.button-full) .button-native {
  display: block;
}

:host(.button-full:not(.button-round)) .button-native {
}

/* Button Shapes
 * -------------------------------------------------
 */
:host(.button-round) {
  --border-radius: 64px;
}

/* Button Colors
 * -------------------------------------------------
 */

/* Button Sizes
 * -------------------------------------------------
 */
:host(.button-x-large) {
  font-size: 40px;
}

:host(.button-large) {
  font-size: 40px;
}

:host(.button-small) {
}

:host(.button-x-small) {
}

/* Button States
 * -------------------------------------------------
 */

:host(.button-disabled) {
}

:host(.wx-activated) {
}

:host(.wx-focused) {
}

/* Button Icons
 * -------------------------------------------------
 */

::slotted(wx-icon) {
  font-size: 1.4em;
  pointer-events: none;
}

::slotted(wx-icon[slot='start']) {
  @include margin(0, 0.3em, 0, -0.3em);
}

::slotted(wx-icon[slot='end']) {
  @include margin(0, -0.2em, 0, 0.3em);
}

::slotted(wx-icon[slot='icon-only']) {
  font-size: 3.6em;
}

/* Button Classes
 * -------------------------------------------------
 */

.button-native {
  @include border-radius(var(--border-radius));
  @include font-smoothing();
  @include margin(0);
  @include padding(var(--padding-top), var(--padding-end), var(--padding-bottom), var(--padding-start)); //FIXME
  @include text-inherit();

  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  appearance: none;

  background: var(--background);

  border-color: var(--border-color);
  border-style: var(--border-style);
  border-width: var(--border-width);

  box-shadow: var(--box-shadow);
  box-sizing: border-box;

  contain: layout style;
  cursor: pointer;

  line-height: 1;
  opacity: var(--opacity);
  outline: none;
  overflow: var(--overflow);
  transition: var(--transition);
  z-index: 0;
}

.button-native::after {
  @include button-state();
}

.button-native::-moz-focus-inner {
  border: 0;
}

.button-inner {
  display: flex;
  position: relative;

  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
