@import '../../theme/globals.scss';

// Default webkinz values
// ---------------------------------------------------------

/// @prop - Button-gradient
$background-orange: linear-gradient(to top, #ffff00, #ffc100, #ff8000) content-box,
  linear-gradient(to top, #ff8000, #ffc100, #ffff00) border-box; // padding-box;

/* not used for now - used filter   
$background-orange-hover: linear-gradient(to top, #ffff66, #ffe066, #ffc066) content-box,
linear-gradient(to top, #ffc066, #ffe066, #ffff66) border-box;
*/

$background-blue: linear-gradient(to top, #00e6ff, #00a4ff) content-box,
  linear-gradient(to top, #00a4ff, #00e6ff) border-box;

$background-purple: linear-gradient(to top, #dc99ff, #d990ff, #d178ff, #c450ff, #b219ff, #bb31ff) content-box,
  linear-gradient(to top, #bb31ff, #d788ff) border-box;

$background-light-purple: linear-gradient(to top, #eeccff, #dc99ff, #c655ff) content-box,
  linear-gradient(to top, #c655ff, #dc99ff, #eeccff) border-box;

/// @prop border-color
$border-color: #00003c;

/// @prop $border-size
$border-width: 2px;

/// @prop $border-style
$border-style: solid;

/// @prop $box-shadow
$box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.6);
// box-shadow:  0 1px 5px rgba(0, 0, 0, 0.3), 1px 3px 0px rgba(0, 0, 60, 0.2);
// box-shadow: 0px 3px 0px rgba(0, 0, 70, 0.5);

/// @prop height-*
$height-x-large: 98px; // 6.5em; //
$height-large: 64px;
$height-default: 56px; // 3.6em; //
$height-small: 44px; // 3em; //
$height-x-small: 30px; // 2em; //
$border-radius: 200px !default;

/// @prop padding-*
// @include padding(var(--padding-top), var(--padding-end), var(--padding-bottom), var(--padding-start));
$padding-x-large: 3px 5px 6px 5px;
$padding-default: 3px 4px 5px 4px;
$padding-small: 3px 3px 5px 3px;
$padding-x-small: 1px 2px 3px 2px;

/// @prop size for custom-size button
$default-custom-width: 82px;
$default-custom-height: 44px;

/// @prop
$font-family: 'webkinz-med';
$font-size: 24px !default;
$color: #003051 !default;
$outline-color: none !default;

// Default values (copied from button.md.vars.scss)
// ---------------------------------------------------------

/// @prop - Margin top of the button
$button-margin-top: 4px;

/// @prop - Margin end of the button
$button-margin-end: 2px !default;

/// @prop - Margin bottom of the button
$button-margin-bottom: 4px !default;

/// @prop - Margin start of the button
$button-margin-start: 2px !default;

/// @prop - Padding top of the button
$button-padding-top: 0 !default;

/// @prop - Padding end of the button
$button-padding-end: 1.1em !default;

/// @prop - Padding bottom of the button
$button-padding-bottom: 0 !default;

/// @prop - Padding start of the button
$button-padding-start: 1.1em !default;

/// @prop - Height of the button
$button-height: 43px !default;

/// @prop - Border radius of the button
$button-border-radius: 10px !default;

/// @prop - Font size of the button text
$button-font-size: 22px !default;

/// @prop - Font weight of the button text
$button-font-weight: 700 !default;

/// @prop - Capitalization of the button text
$button-text-transform: none !default;

$button-letter-spacing: 0.06em;

/// @prop - Box shadow of the button
$button-box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.2) !default;

/// @prop - Box shadow of the activated button
$button-box-shadow-activated: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12) !default;

// Round Button
// --------------------------------------------------

/// @prop - Padding top of the round button
$button-round-padding-top: 0 !default;

/// @prop - Padding end of the round button
$button-round-padding-end: 24px !default;

/// @prop - Padding bottom of the round button
$button-round-padding-bottom: $button-round-padding-top !default;

/// @prop - Padding start of the round button
$button-round-padding-start: $button-round-padding-end !default;

/// @prop - Border radius of the round button
$button-round-border-radius: 120px !default;

// Large Button
// --------------------------------------------------

/// @prop - Padding top of the large button
$button-large-padding-top: 0 !default;

/// @prop - Padding end of the large button
$button-large-padding-end: 1em !default;

/// @prop - Padding bottom of the large button
$button-large-padding-bottom: $button-large-padding-top !default;

/// @prop - Padding start of the large button
$button-large-padding-start: $button-large-padding-end !default;

/// @prop - Height of the large button
$button-large-height: 2.8em !default;

/// @prop - Font size of the large button
$button-large-font-size: 20px !default;

// Material Design Small Button
// --------------------------------------------------

/// @prop - Padding top of the small button
$button-small-padding-top: 0 !default;

/// @prop - Padding end of the small button
$button-small-padding-end: 0.9em !default;

/// @prop - Padding bottom of the small button
$button-small-padding-bottom: $button-small-padding-top !default;

/// @prop - Padding start of the small button
$button-small-padding-start: $button-small-padding-end !default;

/// @prop - Height of the small button
$button-small-height: 2.1em !default;

/// @prop - Font size of the small button
$button-small-font-size: 13px !default;
