@import './../../theme/globals';

$launcher-background-alpha: 0.4 !default;
$launcher-background-color: rgba(0, 0, 0, $launcher-background-alpha);
$launcher-translucent-filter: saturate(100%) blur(20px) !default;

:host {
  position: absolute;
  @include position(0px, 0px, 0px, 0px);
  --columns: 5;
}

:host(.hidden) {
  display: none;
}

.backdrop {
  position: absolute;
  @include position(0px, 0px, 0px, 0px);
  background: $launcher-background-color;
  z-index: 1001;
}

.grid {
  display: grid;
  height: 100vh;

  position: fixed;
  padding: 50px;
  grid-template-columns: repeat(var(--columns), 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 20px;
  z-index: 1002;
}

@supports (backdrop-filter: blur(0)) {
  .backdrop {
    backdrop-filter: $launcher-translucent-filter;
  }
}
